@model identity.Controllers.Status.StatusInfoViewModel

@{
    ViewBag.Title = "Info";
    Layout = "_Layout";
}

<ul>
    <li>Authority: @Model.Options.Authority</li>
    <li>ClientId: @Model.Options.ClientId</li>
    <li>Name: @Model.Options.ApiName</li>
    <li>Scope: @Model.Options.ApiScope</li>
</ul>
